.product-row {
    max-height: 860px;
    overflow: hidden;
    
    @include mq(lg, min) {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    @include mq(xxl) {
        padding-left: 30px;
    }

    @include mq(lg) {
        padding-left: 15px;
        padding-bottom: 60px;
    }

    &-wrapper {
        @include mq(lg, min) {
            @include flex(flex-start, stretch);
            
            padding-right: 0;
        }
    }
}